<p>
  upload works!
</p>

<button ></button>
<a routerLink="/login" >Click here for load</a>



<div class="card" style="margin:5%" >
  <div class="card-header">
    <div class="row"  >
      <div class="col-md-8">Order Id</div>
      <div class="col-md-4">This is right hand text</div>
  </div>  
</div>
  <div class="card-body">
        <table class="table table-reflow">
            <thead>
              <tr>
                <th>#</th>
                <th>Item Name</th >
                <th>Price</th>
                <th>Quantity </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
              </tr>
            </tbody>
          </table>
  </div>
  <div class="card-footer">
      <div class="row">
          <div class="col-md-8">Delivery Date</div>
          <div class="col-md-4">Order Total Here:</div>
        </div>
  </div>


</div>
<p> I edsign 2 layout Here ok</p>


  <div class="card" style="margin: 6%">
    <div class="row">
      <div class="col-md-1" style="height:100px;text-align: center" >eruivneir</div>
      <div class="col-md-9" >
        <div class="row">
          <div class="col-md-10" style="margin:2px">Line 1</div>
          <div class="col-md-10">Line 2</div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="height:70;text-align: center" >fwef</div>
        <div class="col-md-6">fewfwe</div>
        <div class="desktop-drug-card__cta quantity-ctrl-wrap small-normal;col-md-5">
          <button class="quantity-ctrl__btn">-</button>          
          <span class="quantity-ctrl__lbl">3</span>
          <button class="quantity-ctrl__btn">+</button>
        </div>
      </div>
  </div>
<br>
<hr>

<div class="box_general" style="background: gray">
  <div class="container ">
    <div class="bg-danger">
      <div class="row">
        <div col md-2>
          <div><button class="bg-primary">Order ID</button> Orderd On : data is here</div>

        </div>
        <div col md-2>
          Here we display date
        </div>
      </div>
      <hr>
      <div class="row">
      </div>
      <div class="row">
        <div col md-2>
          <p>
            Orderd On : data is here</p>
        </div>
      </div>
    </div>
  </div>